In [3]:
import pandas as pd
import numpy as np
import scipy as sp

In [4]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train['Age']=train['Age'].fillna(0)
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,0,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,0,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,0,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,0,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,0,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,0,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,0,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,0,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,0,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
nspoor=len(train[(train['Pclass']==3) & (train['Survived']==0)])
spoor=len(train[(train['Pclass']==3) & (train['Survived']==1)])
spoor

119

In [7]:
len(train[train['Survived']==0])

549

In [8]:
len(train[train['Survived']==1])

342

In [9]:
len(train)

891

In [10]:
len(train[(train['Survived']==0) & (train['Pclass']==3)])

372

In [11]:
len(train[(train['Survived']==0) & (train['Pclass']==2)])

97

In [12]:
len(train[(train['Survived']==0) & (train['Pclass']==1)])

80

In [13]:

percmale=float(len(train[(train['Survived']==1) & (train['Sex']=="male")]))/float(len(train['Sex']=="male"))
percmale

0.122334455667789

In [14]:
percfemale=float(len(train[(train['Survived']==1) & (train['Sex']=="female")]))/float(len(train['Sex']=="female"))
percfemale

0.2615039281705948

In [15]:
perc3 = float(len(train[(train['Survived']==1) & (train['Pclass']==3)]))/float(len(train[(train['Pclass']==3)]))
perc3

0.24236252545824846

temp/temp2

In [16]:
perc2 = float(len(train[(train['Survived']==1) & (train['Pclass']==2)]))/float(len(train[(train['Pclass']==2)]))
perc2

0.47282608695652173

In [17]:
perc1 = float(len(train[(train['Survived']==1) & (train['Pclass']==1)]))/float(len(train[(train['Pclass']==1)]))
perc1

0.6296296296296297

In [18]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import math

temp=pd.read_csv('train.csv')
x=np.array(temp['Age'])
data=x[~np.isnan(x)]
result=pd.cut(data,data.max()-data.min()+1)
counts1 = pd.value_counts(result)

counts1=counts1.sort_index()
#plt.hist(data, bins=np.arange(data.min(), data.max()+1))


temp = temp[temp['Survived']==1]
x=np.array(temp['Age'])
data=x[~np.isnan(x)]
result=pd.cut(data,[0,10,20,30,40,50,60,70,80])
counts2 = pd.value_counts(result)
counts2=counts2.sort_index()

#plt.hist(data, bins=np.arange(data.min(), data.max()+1))


final=counts2/len(train)
final=final.dropna()
final=final[final!=0]


cboard=float(len(train[(train['Embarked']=='C')&(train['Survived']==1)]))/float(len(train[train['Embarked']=='C']))
qboard=float(len(train[(train['Embarked']=='Q')&(train['Survived']==1)]))/float(len(train[train['Embarked']=='Q']))
sboard=float(len(train[(train['Embarked']=='S')&(train['Survived']==1)]))/float(len(train[train['Embarked']=='S']))

In [19]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
train['Age']=train['Age'].fillna(0)

train=train.replace({'Sex' : { 'male' : percmale, 'female' : percfemale}})
train=train.replace({'Pclass' : { 1 : perc1, 2 : perc2,3:perc3}})
train['Age'] = pd.cut(train['Age'],[-1,10,20,30,40,50,60,70,80], labels=final.values)
train=train.replace({'Embarked':{'C':cboard,'Q':qboard,'S':sboard}})
train = train[np.isfinite(train['Embarked'])]
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,0.242363,"Braund, Mr. Owen Harris",0.122334,0.094276,1,0,A/5 21171,7.2500,NaN,0.336957
1,2,1,0.629630,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.261504,0.077441,1,0,PC 17599,71.2833,C85,0.553571
2,3,1,0.242363,"Heikkinen, Miss. Laina",0.261504,0.094276,0,0,STON/O2. 3101282,7.9250,NaN,0.336957
3,4,1,0.629630,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.261504,0.077441,1,0,113803,53.1000,C123,0.336957
4,5,0,0.242363,"Allen, Mr. William Henry",0.122334,0.077441,0,0,373450,8.0500,NaN,0.336957
5,6,0,0.242363,"Moran, Mr. James",0.122334,0.042649,0,0,330877,8.4583,NaN,0.389610
6,7,0,0.629630,"McCarthy, Mr. Timothy J",0.122334,0.019080,0,0,17463,51.8625,E46,0.336957
7,8,0,0.242363,"Palsson, Master. Gosta Leonard",0.122334,0.042649,3,1,349909,21.0750,NaN,0.336957
8,9,1,0.242363,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0.261504,0.094276,0,2,347742,11.1333,NaN,0.336957
9,10,1,0.472826,"Nasser, Mrs. Nicholas (Adele Achem)",0.261504,0.049383,1,0,237736,30.0708,NaN,0.553571
10,11,1,0.242363,"Sandstrom, Miss. Marguerite Rut",0.261504,0.042649,1,1,PP 9549,16.7000,G6,0.336957
11,12,1,0.629630,"Bonnell, Miss. Elizabeth",0.261504,0.019080,0,0,113783,26.5500,C103,0.336957
12,13,0,0.242363,"Saundercock, Mr. William Henry",0.122334,0.049383,0,0,A/5. 2151,8.0500,NaN,0.336957
13,14,0,0.242363,"Andersson, Mr. Anders Johan",0.122334,0.077441,1,5,347082,31.2750,NaN,0.336957
14,15,0,0.242363,"Vestrom, Miss. Hulda Amanda Adolfina",0.261504,0.049383,0,0,350406,7.8542,NaN,0.336957
15,16,1,0.472826,"Hewlett, Mrs. (Mary D Kingcome)",0.261504,0.019080,0,0,248706,16.0000,NaN,0.336957
16,17,0,0.242363,"Rice, Master. Eugene",0.122334,0.042649,4,1,382652,29.1250,NaN,0.389610
17,18,1,0.472826,"Williams, Mr. Charles Eugene",0.122334,0.042649,0,0,244373,13.0000,NaN,0.336957
18,19,0,0.242363,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0.261504,0.077441,1,0,345763,18.0000,NaN,0.336957
19,20,1,0.242363,"Masselmani, Mrs. Fatima",0.261504,0.042649,0,0,2649,7.2250,NaN,0.553571
20,21,0,0.472826,"Fynney, Mr. Joseph J",0.122334,0.077441,0,0,239865,26.0000,NaN,0.336957
21,22,1,0.472826,"Beesley, Mr. Lawrence",0.122334,0.077441,0,0,248698,13.0000,D56,0.336957
22,23,1,0.242363,"McGowan, Miss. Anna ""Annie""",0.261504,0.049383,0,0,330923,8.0292,NaN,0.389610
23,24,1,0.629630,"Sloper, Mr. William Thompson",0.122334,0.094276,0,0,113788,35.5000,A6,0.336957
24,25,0,0.242363,"Palsson, Miss. Torborg Danira",0.261504,0.042649,3,1,349909,21.0750,NaN,0.336957
25,26,1,0.242363,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0.261504,0.077441,1,5,347077,31.3875,NaN,0.336957
26,27,0,0.242363,"Emir, Mr. Farred Chehab",0.122334,0.042649,0,0,2631,7.2250,NaN,0.553571
27,28,0,0.629630,"Fortune, Mr. Charles Alexander",0.122334,0.049383,3,2,19950,263.0000,C23 C25 C27,0.336957
28,29,1,0.242363,"O'Dwyer, Miss. Ellen ""Nellie""",0.261504,0.042649,0,0,330959,7.8792,NaN,0.389610
29,30,0,0.242363,"Todoroff, Mr. Lalio",0.122334,0.042649,0,0,349216,7.8958,NaN,0.336957
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,0.472826,"Giles, Mr. Frederick Edward",0.122334,0.094276,1,0,28134,11.5000,NaN,0.336957
862,863,1,0.629630,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0.261504,0.037037,0,0,17466,25.9292,D17,0.336957
863,864,0,0.242363,"Sage, Miss. Dorothy Edith ""Dolly""",0.261504,0.042649,8,2,CA. 2343,69.5500,NaN,0.336957
864,865,0,0.472826,"Gill, Mr. John William",0.122334,0.094276,0,0,233866,13.0000,NaN,0.336957
865,866,1,0.472826,"Bystrom, Mrs. (Karolina)",0.261504,0.037037,0,0,236852,13.0000,NaN,0.336957
866,867,1,0.472826,"Duran y More, Miss. Asuncion",0.261504,0.094276,1,0,SC/PARIS 2149,13.8583,NaN,0.553571
867,868,0,0.629630,"Roebling, Mr. Washington Augustus II",0.122334,0.077441,0,0,PC 17590,50.4958,A24,0.336957
868,869,0,0.242363,"van Melkebeke, Mr. Philemon",0.122334,0.042649,0,0,345777,9.5000,NaN,0.336957
869,870,1,0.242363,"Johnson, Master. Harold Theodor",0.122334,0.042649,1,1,347742,11.1333,NaN,0.336957
870,871,0,0.242363,"Balkic, Mr. Cerin",0.122334,0.094276,0,0,349248,7.8958,NaN,0.336957
871,872,1,0.629630,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0.261504,0.037037,1,1,11751,52.5542,D35,0.336957
872,873,0,0.629630,"Carlsson, Mr. Frans Olof",0.122334,0.077441,0,0,695,5.0000,B51 B53 B55,0.336957
873,874,0,0.242363,"Vander Cruyssen, Mr. Victor",0.122334,0.037037,0,0,345765,9.0000,NaN,0.336957
874,875,1,0.472826,"Abelson, Mrs. Samuel (Hannah Wizosky)",0.261504,0.094276,1,0,P/PP 3381,24.0000,NaN,0.553571
875,876,1,0.242363,"Najib, Miss. Adele Kiamie ""Jane""",0.261504,0.049383,0,0,2667,7.2250,NaN,0.553571
876,877,0,0.242363,"Gustafsson, Mr. Alfred Ossian",0.122334,0.049383,0,0,7534,9.8458,NaN,0.336957
877,878,0,0.242363,"Petroff, Mr. Nedelio",0.122334,0.049383,0,0,349212,7.8958,NaN,0.336957
878,879,0,0.242363,"Laleff, Mr. Kristo",0.122334,0.042649,0,0,349217,7.8958,NaN,0.336957
879,880,1,0.629630,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0.261504,0.019080,0,1,11767,83.1583,C50,0.553571
880,881,1,0.472826,"Shelley, Mrs. William (Imanita Parrish Hall)",0.261504,0.094276,0,1,230433,26.0000,NaN,0.336957
881,882,0,0.242363,"Markun, Mr. Johann",0.122334,0.077441,0,0,349257,7.8958,NaN,0.336957
882,883,0,0.242363,"Dahlberg, Miss. Gerda Ulrika",0.261504,0.094276,0,0,7552,10.5167,NaN,0.336957
883,884,0,0.472826,"Banfield, Mr. Frederick James",0.122334,0.094276,0,0,C.A./SOTON 34068,10.5000,NaN,0.336957
884,885,0,0.242363,"Sutehall, Mr. Henry Jr",0.122334,0.094276,0,0,SOTON/OQ 392076,7.0500,NaN,0.336957
885,886,0,0.242363,"Rice, Mrs. William (Margaret Norton)",0.261504,0.077441,0,5,382652,29.1250,NaN,0.389610
886,887,0,0.472826,"Montvila, Rev. Juozas",0.122334,0.094276,0,0,211536,13.0000,NaN,0.336957
887,888,1,0.629630,"Graham, Miss. Margaret Edith",0.261504,0.049383,0,0,112053,30.0000,B42,0.336957
888,889,0,0.242363,"Johnston, Miss. Catherine Helen ""Carrie""",0.261504,0.042649,1,2,W./C. 6607,23.4500,NaN,0.336957
889,890,1,0.629630,"Behr, Mr. Karl Howell",0.122334,0.094276,0,0,111369,30.0000,C148,0.553571
890,891,0,0.242363,"Dooley, Mr. Patrick",0.122334,0.077441,0,0,370376,7.7500,NaN,0.389610

In [20]:
totrain=pd.DataFrame()
totrain['Pclass']=train['Pclass']
totrain['Sex']=train['Sex']
totrain['Age']=train['Age']
totrain['Embarked']=train['Embarked']

totrain

       Pclass       Sex       Age  Embarked
0    0.242363  0.122334  0.094276  0.336957
1    0.629630  0.261504  0.077441  0.553571
2    0.242363  0.261504  0.094276  0.336957
3    0.629630  0.261504  0.077441  0.336957
4    0.242363  0.122334  0.077441  0.336957
5    0.242363  0.122334  0.042649  0.389610
6    0.629630  0.122334  0.019080  0.336957
7    0.242363  0.122334  0.042649  0.336957
8    0.242363  0.261504  0.094276  0.336957
9    0.472826  0.261504  0.049383  0.553571
10   0.242363  0.261504  0.042649  0.336957
11   0.629630  0.261504  0.019080  0.336957
12   0.242363  0.122334  0.049383  0.336957
13   0.242363  0.122334  0.077441  0.336957
14   0.242363  0.261504  0.049383  0.336957
15   0.472826  0.261504  0.019080  0.336957
16   0.242363  0.122334  0.042649  0.389610
17   0.472826  0.122334  0.042649  0.336957
18   0.242363  0.261504  0.077441  0.336957
19   0.242363  0.261504  0.042649  0.553571
20   0.472826  0.122334  0.077441  0.336957
21   0.472826  0.122334  0.077441  0.336957
22   0.242363  0.261504  0.049383  0.389610
23   0.629630  0.122334  0.094276  0.336957
24   0.242363  0.261504  0.042649  0.336957
25   0.242363  0.261504  0.077441  0.336957
26   0.242363  0.122334  0.042649  0.553571
27   0.629630  0.122334  0.049383  0.336957
28   0.242363  0.261504  0.042649  0.389610
29   0.242363  0.122334  0.042649  0.336957
..        ...       ...       ...       ...
861  0.472826  0.122334  0.094276  0.336957
862  0.629630  0.261504  0.037037  0.336957
863  0.242363  0.261504  0.042649  0.336957
864  0.472826  0.122334  0.094276  0.336957
865  0.472826  0.261504  0.037037  0.336957
866  0.472826  0.261504  0.094276  0.553571
867  0.629630  0.122334  0.077441  0.336957
868  0.242363  0.122334  0.042649  0.336957
869  0.242363  0.122334  0.042649  0.336957
870  0.242363  0.122334  0.094276  0.336957
871  0.629630  0.261504  0.037037  0.336957
872  0.629630  0.122334  0.077441  0.336957
873  0.242363  0.122334  0.037037  0.336957
874  0.472826  0.261504  0.094276  0.553571
875  0.242363  0.261504  0.049383  0.553571
876  0.242363  0.122334  0.049383  0.336957
877  0.242363  0.122334  0.049383  0.336957
878  0.242363  0.122334  0.042649  0.336957
879  0.629630  0.261504  0.019080  0.553571
880  0.472826  0.261504  0.094276  0.336957
881  0.242363  0.122334  0.077441  0.336957
882  0.242363  0.261504  0.094276  0.336957
883  0.472826  0.122334  0.094276  0.336957
884  0.242363  0.122334  0.094276  0.336957
885  0.242363  0.261504  0.077441  0.389610
886  0.472826  0.122334  0.094276  0.336957
887  0.629630  0.261504  0.049383  0.336957
888  0.242363  0.261504  0.042649  0.336957
889  0.629630  0.122334  0.094276  0.553571
890  0.242363  0.122334  0.077441  0.389610

[889 rows x 4 columns]

In [21]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
temp=clf.fit(totrain, train['Survived']) 
temp

GaussianNB(priors=None)

In [22]:
test=pd.read_csv('test.csv')
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [23]:
test=pd.read_csv('test.csv')
test['Age']=test['Age'].fillna(0)

test=test.replace({'Sex' : { 'male' : percmale, 'female' : percfemale}})
test=test.replace({'Pclass' : { 1 : perc1, 2 : perc2,3:perc3}})
test['Age'] = pd.cut(test['Age'],[-1,10,20,30,40,50,60,70,80], labels=final.values)
test=test.replace({'Embarked':{'C':cboard,'Q':qboard,'S':sboard}})
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0.242363,"Kelly, Mr. James",0.122334,0.077441,0,0,330911,7.8292,NaN,0.389610
1,893,0.242363,"Wilkes, Mrs. James (Ellen Needs)",0.261504,0.037037,1,0,363272,7.0000,NaN,0.336957
2,894,0.472826,"Myles, Mr. Thomas Francis",0.122334,0.004489,0,0,240276,9.6875,NaN,0.389610
3,895,0.242363,"Wirz, Mr. Albert",0.122334,0.094276,0,0,315154,8.6625,NaN,0.336957
4,896,0.242363,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0.261504,0.094276,1,1,3101298,12.2875,NaN,0.336957
5,897,0.242363,"Svensson, Mr. Johan Cervin",0.122334,0.049383,0,0,7538,9.2250,NaN,0.336957
6,898,0.242363,"Connolly, Miss. Kate",0.261504,0.094276,0,0,330972,7.6292,NaN,0.389610
7,899,0.472826,"Caldwell, Mr. Albert Francis",0.122334,0.094276,1,1,248738,29.0000,NaN,0.336957
8,900,0.242363,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0.261504,0.049383,0,0,2657,7.2292,NaN,0.553571
9,901,0.242363,"Davies, Mr. John Samuel",0.122334,0.094276,2,0,A/4 48871,24.1500,NaN,0.336957
10,902,0.242363,"Ilieff, Mr. Ylio",0.122334,0.042649,0,0,349220,7.8958,NaN,0.336957
11,903,0.629630,"Jones, Mr. Charles Cresson",0.122334,0.037037,0,0,694,26.0000,NaN,0.336957
12,904,0.629630,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0.261504,0.094276,1,0,21228,82.2667,B45,0.336957
13,905,0.472826,"Howard, Mr. Benjamin",0.122334,0.004489,1,0,24065,26.0000,NaN,0.336957
14,906,0.629630,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0.261504,0.037037,1,0,W.E.P. 5734,61.1750,E31,0.336957
15,907,0.472826,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0.261504,0.094276,1,0,SC/PARIS 2167,27.7208,NaN,0.553571
16,908,0.472826,"Keane, Mr. Daniel",0.122334,0.077441,0,0,233734,12.3500,NaN,0.389610
17,909,0.242363,"Assaf, Mr. Gerios",0.122334,0.094276,0,0,2692,7.2250,NaN,0.553571
18,910,0.242363,"Ilmakangas, Miss. Ida Livija",0.261504,0.094276,1,0,STON/O2. 3101270,7.9250,NaN,0.336957
19,911,0.242363,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0.261504,0.037037,0,0,2696,7.2250,NaN,0.553571
20,912,0.629630,"Rothschild, Mr. Martin",0.122334,0.019080,1,0,PC 17603,59.4000,NaN,0.553571
21,913,0.242363,"Olsen, Master. Artur Karl",0.122334,0.042649,0,1,C 17368,3.1708,NaN,0.336957
22,914,0.629630,"Flegenheim, Mrs. Alfred (Antoinette)",0.261504,0.042649,0,0,PC 17598,31.6833,NaN,0.336957
23,915,0.629630,"Williams, Mr. Richard Norris II",0.122334,0.094276,0,1,PC 17597,61.3792,NaN,0.553571
24,916,0.629630,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",0.261504,0.037037,1,3,PC 17608,262.3750,B57 B59 B63 B66,0.553571
25,917,0.242363,"Robins, Mr. Alexander A",0.122334,0.037037,1,0,A/5. 3337,14.5000,NaN,0.336957
26,918,0.629630,"Ostby, Miss. Helene Ragnhild",0.261504,0.094276,0,1,113509,61.9792,B36,0.553571
27,919,0.242363,"Daher, Mr. Shedid",0.122334,0.094276,0,0,2698,7.2250,NaN,0.553571
28,920,0.629630,"Brady, Mr. John Bertram",0.122334,0.037037,0,0,113054,30.5000,A21,0.336957
29,921,0.242363,"Samaan, Mr. Elias",0.122334,0.042649,2,0,2662,21.6792,NaN,0.553571
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,0.242363,"Canavan, Mr. Patrick",0.122334,0.094276,0,0,364858,7.7500,NaN,0.389610
389,1281,0.242363,"Palsson, Master. Paul Folke",0.122334,0.042649,3,1,349909,21.0750,NaN,0.336957
390,1282,0.629630,"Payne, Mr. Vivian Ponsonby",0.122334,0.094276,0,0,12749,93.5000,B24,0.336957
391,1283,0.629630,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",0.261504,0.019080,0,1,PC 17592,39.4000,D28,0.336957
392,1284,0.242363,"Abbott, Master. Eugene Joseph",0.122334,0.049383,0,2,C.A. 2673,20.2500,NaN,0.336957
393,1285,0.472826,"Gilbert, Mr. William",0.122334,0.037037,0,0,C.A. 30769,10.5000,NaN,0.336957
394,1286,0.242363,"Kink-Heilmann, Mr. Anton",0.122334,0.094276,3,1,315153,22.0250,NaN,0.336957
395,1287,0.629630,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0.261504,0.049383,1,0,13695,60.0000,C31,0.336957
396,1288,0.242363,"Colbert, Mr. Patrick",0.122334,0.094276,0,0,371109,7.2500,NaN,0.389610
397,1289,0.629630,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",0.261504,0.037037,1,1,13567,79.2000,B41,0.553571
398,1290,0.242363,"Larsson-Rondberg, Mr. Edvard A",0.122334,0.094276,0,0,347065,7.7750,NaN,0.336957
399,1291,0.242363,"Conlon, Mr. Thomas Henry",0.122334,0.077441,0,0,21332,7.7333,NaN,0.389610
400,1292,0.629630,"Bonnell, Miss. Caroline",0.261504,0.094276,0,0,36928,164.8667,C7,0.336957
401,1293,0.472826,"Gale, Mr. Harry",0.122334,0.077441,1,0,28664,21.0000,NaN,0.336957
402,1294,0.629630,"Gibson, Miss. Dorothy Winifred",0.261504,0.094276,0,1,112378,59.4000,NaN,0.553571
403,1295,0.629630,"Carrau, Mr. Jose Pedro",0.122334,0.049383,0,0,113059,47.1000,NaN,0.336957
404,1296,0.629630,"Frauenthal, Mr. Isaac Gerald",0.122334,0.037037,1,0,17765,27.7208,D40,0.553571
405,1297,0.472826,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0.122334,0.049383,0,0,SC/PARIS 2166,13.8625,D38,0.553571
406,1298,0.472826,"Ware, Mr. William Jeffery",0.122334,0.094276,1,0,28666,10.5000,NaN,0.336957
407,1299,0.629630,"Widener, Mr. George Dunton",0.122334,0.037037,1,1,113503,211.5000,C80,0.553571
408,1300,0.242363,"Riordan, Miss. Johanna Hannah""""",0.261504,0.042649,0,0,334915,7.7208,NaN,0.389610
409,1301,0.242363,"Peacock, Miss. Treasteall",0.261504,0.042649,1,1,SOTON/O.Q. 3101315,13.7750,NaN,0.336957
410,1302,0.242363,"Naughton, Miss. Hannah",0.261504,0.042649,0,0,365237,7.7500,NaN,0.389610
411,1303,0.629630,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0.261504,0.077441,1,0,19928,90.0000,C78,0.389610
412,1304,0.242363,"Henriksson, Miss. Jenny Lovisa",0.261504,0.094276,0,0,347086,7.7750,NaN,0.336957
413,1305,0.242363,"Spector, Mr. Woolf",0.122334,0.042649,0,0,A.5. 3236,8.0500,NaN,0.336957
414,1306,0.629630,"Oliva y Ocana, Dona. Fermina",0.261504,0.077441,0,0,PC 17758,108.9000,C105,0.553571
415,1307,0.242363,"Saether, Mr. Simon Sivertsen",0.122334,0.077441,0,0,SOTON/O.Q. 3101262,7.2500,NaN,0.336957
416,1308,0.242363,"Ware, Mr. Frederick",0.122334,0.042649,0,0,359309,8.0500,NaN,0.336957
417,1309,0.242363,"Peter, Master. Michael J",0.122334,0.042649,1,1,2668,22.3583,NaN,0.553571

In [24]:
totest=pd.DataFrame()
totest['Pclass']=test['Pclass']
totest['Sex']=test['Sex']
totest['Age']=test['Age']
totest['Embarked']=test['Embarked']
totest

       Pclass       Sex       Age  Embarked
0    0.242363  0.122334  0.077441  0.389610
1    0.242363  0.261504  0.037037  0.336957
2    0.472826  0.122334  0.004489  0.389610
3    0.242363  0.122334  0.094276  0.336957
4    0.242363  0.261504  0.094276  0.336957
5    0.242363  0.122334  0.049383  0.336957
6    0.242363  0.261504  0.094276  0.389610
7    0.472826  0.122334  0.094276  0.336957
8    0.242363  0.261504  0.049383  0.553571
9    0.242363  0.122334  0.094276  0.336957
10   0.242363  0.122334  0.042649  0.336957
11   0.629630  0.122334  0.037037  0.336957
12   0.629630  0.261504  0.094276  0.336957
13   0.472826  0.122334  0.004489  0.336957
14   0.629630  0.261504  0.037037  0.336957
15   0.472826  0.261504  0.094276  0.553571
16   0.472826  0.122334  0.077441  0.389610
17   0.242363  0.122334  0.094276  0.553571
18   0.242363  0.261504  0.094276  0.336957
19   0.242363  0.261504  0.037037  0.553571
20   0.629630  0.122334  0.019080  0.553571
21   0.242363  0.122334  0.042649  0.336957
22   0.629630  0.261504  0.042649  0.336957
23   0.629630  0.122334  0.094276  0.553571
24   0.629630  0.261504  0.037037  0.553571
25   0.242363  0.122334  0.037037  0.336957
26   0.629630  0.261504  0.094276  0.553571
27   0.242363  0.122334  0.094276  0.553571
28   0.629630  0.122334  0.037037  0.336957
29   0.242363  0.122334  0.042649  0.553571
..        ...       ...       ...       ...
388  0.242363  0.122334  0.094276  0.389610
389  0.242363  0.122334  0.042649  0.336957
390  0.629630  0.122334  0.094276  0.336957
391  0.629630  0.261504  0.019080  0.336957
392  0.242363  0.122334  0.049383  0.336957
393  0.472826  0.122334  0.037037  0.336957
394  0.242363  0.122334  0.094276  0.336957
395  0.629630  0.261504  0.049383  0.336957
396  0.242363  0.122334  0.094276  0.389610
397  0.629630  0.261504  0.037037  0.553571
398  0.242363  0.122334  0.094276  0.336957
399  0.242363  0.122334  0.077441  0.389610
400  0.629630  0.261504  0.094276  0.336957
401  0.472826  0.122334  0.077441  0.336957
402  0.629630  0.261504  0.094276  0.553571
403  0.629630  0.122334  0.049383  0.336957
404  0.629630  0.122334  0.037037  0.553571
405  0.472826  0.122334  0.049383  0.553571
406  0.472826  0.122334  0.094276  0.336957
407  0.629630  0.122334  0.037037  0.553571
408  0.242363  0.261504  0.042649  0.389610
409  0.242363  0.261504  0.042649  0.336957
410  0.242363  0.261504  0.042649  0.389610
411  0.629630  0.261504  0.077441  0.389610
412  0.242363  0.261504  0.094276  0.336957
413  0.242363  0.122334  0.042649  0.336957
414  0.629630  0.261504  0.077441  0.553571
415  0.242363  0.122334  0.077441  0.336957
416  0.242363  0.122334  0.042649  0.336957
417  0.242363  0.122334  0.042649  0.553571

[418 rows x 4 columns]

In [25]:
predicted=clf.predict(totest)
predicted

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [26]:
test['Survived']=predicted.tolist()

In [27]:
answer=pd.DataFrame()
answer['PassengerId']=test['PassengerId']
answer['Survived']=test['Survived']
answer.set_index('PassengerId')
answer

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         1
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         1
406         1298         0
407         1299         1
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [29]:
answer.to_csv('out.csv')